<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" href="__CSS__/slideBox.css">
</head>
<body>
<div id="vp_body" class="vp_body main_page">
	<div class="vp_btn_group">
		<button id="pre" class="vp_pre">
		<svg width="20" height="70" version="1.1" xmlns="http://www.w3.org/2000/svg">
			<polyline points="20,0 0,35 20,70"/>
			</svg>
			</button>
			<button id="next" class="vp_next">
			<svg width="20" height="70" version="1.1" xmlns="http://www.w3.org/2000/svg">
				<polyline points="0,0 20,35 0,70"/>
				</svg>
				</button>
			</div>
			<div class="vp_item_group">
				<!-- You can add any number of groups of items here -->
				<div class="vp_item">
					<img class="vp_img" src="http://photo2.fanfou.com/v1/mss_3d027b52ec5a4d589e68050845611e68/ff/n0/0b/z8/gp_308612.jpg@596w_1l.jpg">
					<div class="vp_words">
						<h1>This is the first picture.</h1>
						<p>This is a paragraph.</p>
					</div>
				</div>
				<div class="vp_item">
					<img class="vp_img" src="http://photo2.fanfou.com/v1/mss_3d027b52ec5a4d589e68050845611e68/ff/n0/0b/z8/gp_308612.jpg@596w_1l.jpg">
					<div class="vp_words">
						<h1>This is the second picture.</h1>
						<p>This is a paragraph paragraph.</p>
					</div>
				</div>
				<div class="vp_item">
					<img class="vp_img" src="http://photo2.fanfou.com/v1/mss_3d027b52ec5a4d589e68050845611e68/ff/n0/0b/z8/gp_308612.jpg@596w_1l.jpg">
					<div class="vp_words">
						<h1>This is the first picture.</h1>
						<p>This is a paragraph.</p>
					</div>
				</div>
				<div class="vp_item">
					<img class="vp_img" src="./img/code.png">
					<div class="vp_words">
						<h1>This is the third picture.</h1>
						<p>This is a paragraph paragraph paragraph.</p>
					</div>
				</div>
			</div> <!-- vp_item_group -->
				<div id="vp_item_btn_group" class="vp_item_btn_group"></div>
				<div id="show_info_btn" class="show_info_btn btn_towhite">
					<svg width="30" height="30" version="1.1" xmlns="http://www.w3.org/2000/svg">
						<polyline points="5,20 15,10 25,20"/>
						</svg>
					</div>
					</div> <!-- vp_body -->
<script src="__JS__/jquery-2.1.1.min.js"></script>
<script src="__JS__/jquery.viewpager.js"></script>	

<script>
	setTimeout(function() {
		$().viewpager({
			auto: true,
			speed: 4000	
		});
	}, 100)

</script>

</body>
</html>