<div class="user userPersonal userContent userSecurityPassword ">
	<div class="inputList">

		<input class="input inputPassword oldPassword" type="password" placeholder="输入当前密码"><div class="textTips oldPasswordTips">当前密码不正确</div>
		<input class="input inputPassword newPassword" type="password" placeholder="新密码"><div class="textTips newPasswordTips">新密码不能为空</div>
		<input class="input inputPassword newPasswordConfirm" type="password" placeholder="确认新密码"><div class="textTips confirmPasswordTips">两次输入密码不一致</div>
	</div>
	<button type="button" class="button buttonLong buttonModifyPassword">确认修改</button><div class="textTips successTips">密码修改成功</div>
</div>
<script type="text/javascript">
$(".buttonModifyPassword").click(function ()
	{	
		var oldPassword = $(".oldPassword").val();
		var newPassword = $(".newPassword").val();
		var send_pass = {oldpassword: oldPassword, newpassword: newPassword};
		var newPasswordConfirm = $(".newPasswordConfirm").val();
		if (newPassword == ""){
			$(".textTips").fadeOut();
			$(".newPasswordTips").fadeIn();
		}
		else if (newPasswordConfirm != newPassword){
			$(".textTips").fadeOut();
			$(".confirmPasswordTips").fadeIn();
		}
		else {
			$(".textTips").fadeOut();
		    $.post('/User/modifyPassword', send_pass, function(data){
		        if (data == 1) {
		        	
		        	$(".successTips").fadeIn();
		            /*window.location = data['url']; 修改密码后不返回首页*/
		        } else {
		            $(".oldPasswordTips").fadeIn();
		        }
		    });
		}
	});

</script>