.articleContent {
  font-size: 16px;
  font-family: "Microsoft YaHei Light";
  line-height: 1.6;
  color: #333;
  outline: none;
  word-wrap: break-word;
}
.articleContent > :first-child {
  margin-top: 0!important;
}
.articleContent a {
  color: #4298BA;
  text-decoration: none;
  word-break: break-all;
}
.articleContent a:visited {
  color: #4298BA;
}
.articleContent a:hover {
  color: #0F769F;
}
.articleContent a:active {
  color: #9E792E;
}
.articleContent a:hover,
.articleContent a:active {
  outline: 0;
}
.articleContent h1,
.articleContent h2,
.articleContent h3,
.articleContent h4,
.articleContent h5,
.articleContent h6 {
  font-weight: normal;
  margin: 40px 0 20px;
  color: #000000;
}
.articleContent h1 {
  font-size: 24px;
}
.articleContent h2 {
  font-size: 22px;
}
.articleContent h3 {
  font-size: 20px;
}
.articleContent h4 {
  font-size: 18px;
}
.articleContent h5 {
  font-size: 16px;
}
.articleContent h6 {
  font-size: 16px;
}
.articleContent p,
.articleContent div {
  margin: 0 0 15px 0;
  color: #333;
  word-wrap: break-word;
}
.articleContent b,
.articleContent strong {
  font-weight: bold;
}
.articleContent i,
.articleContent em {
  font-style: italic;
}
.articleContent u {
  text-decoration: underline;
}
.articleContent strike,
.articleContent del {
  text-decoration: line-through;
}
.articleContent ul,
.articleContent ol {
  list-style: disc outside none;
  margin: 15px 0;
  padding: 0 0 0 40px;
  line-height: 1.6;
}
.articleContent ul ul,
.articleContent ol ul,
.articleContent ul ol,
.articleContent ol ol {
  padding-left: 30px;
}
.articleContent ul ul,
.articleContent ol ul {
  list-style: circle outside none;
}
.articleContent ul ul ul,
.articleContent ol ul ul {
  list-style: square outside none;
}
.articleContent ol {
  list-style: decimal;
}
.articleContent blockquote {
  border-left: 6px solid #ddd;
  padding: 5px 0 5px 10px;
  margin: 15px 0 15px 15px;
}
.articleContent blockquote > :first-child {
  margin-top: 0;
}
.articleContent code {
  display: inline-block;
  padding: 0 4px;
  margin: 0 5px;
  background: #eeeeee;
  border-radius: 3px;
  font-size: 13px;
  font-family: 'monaco', 'Consolas', "Liberation Mono", Courier, monospace;
}
.articleContent pre {
  padding: 10px 5px 10px 10px;
  margin: 15px 0;
  display: block;
  line-height: 18px;
  background: #F0F0F0;
  border-radius: 3px;
  font-size: 13px;
  font-family: 'monaco', 'Consolas', "Liberation Mono", Courier, monospace;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
}
.articleContent pre code {
  display: block;
  padding: 0;
  margin: 0;
  background: none;
  border-radius: 0;
}
.articleContent hr {
  display: block;
  height: 0px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 15px 0;
  padding: 0;
}
.articleContent table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px 0;
}
.articleContent table thead {
  background-color: #f9f9f9;
}
.articleContent table td,
.articleContent table th {
  min-width: 40px;
  height: 30px;
  border: 1px solid #ccc;
  vertical-align: top;
  padding: 2px 4px;
  text-align: left;
  box-sizing: border-box;
}
.articleContent table td.active,
.articleContent table th.active {
  background-color: #ffffee;
}
.articleContent img {
  margin: 0 5px;
  vertical-align: middle;
}
